<!-- nav bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Fifth navbar example">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="/images/feather.png" style="height: 32px;"/> ASF Tooling</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarADP" aria-controls="navbarADP" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarADP">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">About</a>
          <ul class="dropdown-menu">
            <!--<li><a class="dropdown-item" href="/blog/">Tooling Blog</a></li>-->
            <li><a class="dropdown-item" href="/team.html">About the team</a></li>
            <li><a class="dropdown-item" href="/trusted-release.html">Trusted Release</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Repositories</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="https://github.com/apache/tooling-docs/">Website and Docs</a></li>
            <li><a class="dropdown-item" href="https://github.com/apache/tooling-trusted-release">Trusted Release</a></li>
            <li><a class="dropdown-item" href="https://github.com/apache/tooling-agenda">Agenda Tool</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Contribute</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/volunteer.html">Volunteer with Tooling</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle hidden-xs" data-bs-toggle="dropdown"><span class="fa-solid fa-magnifying-glass" aria-hidden="true"></span> Search</a>
          <ul class="search-form dropdown-menu">
            <li>
              <div id="pagefind-search" class="input-group" style="width: 100%; padding: 0 5px;"></div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
