<!-- nav bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-info" aria-label="Fifth navbar example">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="https://apache.org/img/asf_logo.png" alt="The Apache Software Foundation" style="height: 42px;">
      <span style="position: relative; top: 5px; margin-left: 10px;">Tooling Initiative</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarADP" aria-controls="navbarADP" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarADP" style="position: relative; top: 4px; margin-left: 16px;">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">About</a>
          <ul class="dropdown-menu">
            <!--<li><a class="dropdown-item" href="/blog/">Tooling Blog</a></li>-->
            <li><a class="dropdown-item" href="/team.html">About the team</a></li>
            <li><a class="dropdown-item" href="/trusted-releases.html">Trusted Releases</a></li>
            <li><a class="dropdown-item" href="/supply-chain.html">Supply Chain Attacks FAQ</a></li>
            <li><a class="dropdown-item" href="/policies.html">Policies</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Tools</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="https://release-test.apache.org/">Trusted Releases Alpha</a></li>
            <li><a class="dropdown-item" href="https://agenda.apache.org">Board Agenda Tool</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Repositories</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="https://github.com/apache/tooling-docs/">Documentation Website</a></li>
            <li><a class="dropdown-item" href="https://github.com/apache/tooling-secretary">Secretary's Workbench</a></li>
            <li><a class="dropdown-item" href="https://github.com/apache/tooling-trusted-releases">Trusted Releases</a></li>
            <li><a class="dropdown-item" href="https://github.com/apache/tooling-releases-client">Trusted Releases Client</a></li>
            <li><a class="dropdown-item" href="https://github.com/apache/tooling-actions">Trusted Releases Actions</a></li>
            <li><a class="dropdown-item" href="https://github.com/apache/tooling-agenda">Agenda Tool</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Contribute</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/volunteer.html">Volunteer with Tooling</a></li>
            <li><a class="dropdown-item" href="/job-posting.html">Job Posting</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle hidden-xs" data-bs-toggle="dropdown"><span class="fa-solid fa-magnifying-glass" aria-hidden="true"></span> Search</a>
          <ul class="search-form dropdown-menu">
            <li>
              <div id="pagefind-search" class="input-group" style="width: 100%; padding: 0 5px;"></div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
